<?xml version="1.0" encoding="UTF-8"?>  
<configuration debug="false" scan="true" scanPeriod="60 seconds">
     <property name="LOG_PATH" value="${user.dir}/logs" />
     <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger %-3L - %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
     </appender>
     <appender name="bank-demo" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <!-- 正在记录的日志文件的路径及文件名 -->
        <file>${LOG_PATH}/bank.log</file>
         <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/model%i.log.zip</fileNamePattern>
            <minIndex>0</minIndex>
            <maxIndex>9</maxIndex>
        </rollingPolicy>  
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
           <maxFileSize>50MB</maxFileSize>
       	</triggeringPolicy>
        <!-- 追加方式记录日志 -->
        <append>true</append>
        <!-- 日志文件的格式 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger %-3L - %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>
	 <appender name="spring-platform" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <!-- 正在记录的日志文件的路径及文件名 -->
        <file>${LOG_PATH}/platform.log</file>
         <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/uem-flatform%i.log.zip</fileNamePattern>
            <minIndex>0</minIndex>
            <maxIndex>9</maxIndex>
        </rollingPolicy>  
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
           <maxFileSize>50MB</maxFileSize>
       	</triggeringPolicy>
        <!-- 追加方式记录日志 -->
        <append>true</append>
        <!-- 日志文件的格式 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger %-3L - %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

     <logger name="com.yth" level="info" additivity="false">
        <appender-ref ref="bank-demo"/>  
     </logger> 
 
      <logger name="root" level="error">
        <appender-ref ref="spring-platform"/> 
     </logger>
     <root level ="info">
        <appender-ref ref="STDOUT"/> 
     </root>
      
 </configuration>  
